html, body{
  margin:0;
  padding:0;
}
body{
  background:black;

}
h1{color: white}
p{color: white}
label{color: white}
#nav ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
  top:0;
}
.right {
  float:right;
}
.left{
  float: left;
}
#nav li a{
  display:block;
  color: white;
  text-align:center;
  padding: 5px 5px;
  text-decoration: none;
}
#nav a:hover {
  background:grey;
}
#active{
  background-color: green;
}
.content{
  min-height: calc(100vh - 70px);
}
.footer{
  display:block;
  clear:both;
  border-width:1px 0 0 0;
  border-style: solid;
  border-color: blue;
}
